# Root .gitignore for TripBrain

# OS files
.DS_Store
Thumbs.db

# IDEs/Editors
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath
.apt_generated/
.springBeans
.sts4-cache


# Backend Build & Run
backend/.gradle/
backend/build/
backend/bin/
backend/out/
backend/uploads/
backend/db/
backend/.env
backend/db/**
.env
backend/src/main/resources/static/**


# Frontend Build & Run
frontend/trip-brain-frontend-app/.angular/
frontend/trip-brain-frontend-app/node_modules/
frontend/trip-brain-frontend-app/dist/
frontend/trip-brain-frontend-app/tmp/
frontend/trip-brain-frontend-app/.sass-cache/

# Local logs
*.log
